<h1>Boom.</h1>
<ul>
<% @projects.each do |project| %>
  <li>Project <%= project.name %></li>
<% end %>
</ul>
<h3>dhfkdfkdf</h3>
<h3>dhfkdfkdf</h3>
<h3>dhfkdfkdf</h3>
<h3>dhfkdfkdf</h3>
<h3>dhfkdfkdf</h3>
